    
    body {
        background-color: #10154c;
    }
    .content-wrap {
        width: 100%;
        padding-bottom: calc(100% - 20%);
        background: url('/img/bottom-bg.png') no-repeat bottom;
        background-color: #10154c;
        background-size: contain;
        overflow-y: hidden;
    }
    
    .content {
        padding : 3em 2em;
    }
    .title-wrap .title-img {
        max-width: 25em;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .title-wrap .title-img img {
        width: 100%;
    }
    .address-wrap {
        margin-top: 5em;
        color: #fff;
    }
    .address-wrap + .address-wrap {
        margin-top: 3em;
    }
    .address-tit h2 {
        color: #fff;
        line-height: 1.2;
        font-size: 1.3em;
        font-weight: 700;
        text-align: center;
    }
    .address-tit span {
        color: #fed826;
    }
    .address-list {
        margin-top : 1em;
        padding: 2em 1.5em;
        background: linear-gradient(156deg, rgb(63 72 156) 0%, rgb(15 21 76) 50%, rgb(50 61 128) 100%);
        box-shadow: 5px 10px 10px rgba(0,0,0,.2);
        border-radius: 1.5em;
    }
    .address-list li {
        font-weight: 600;
        line-height: 1.2;
    }
    .address-list li ~ li {
        margin-top: 1.4em;
    }
    .address-list li p {
        margin-top: .5em;
        color: #d2d2d2;
        font-weight: 300;
    }
    .address-list li span {
        display: block;
        margin-bottom: .6em;
        color: #fed826;
        font-weight: 500;
    }
    .address-list li a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }